{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}

        cprop/cprop {:mvn/version "0.1.19"}
        io.pedestal/pedestal.log {:mvn/version "0.5.10"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.6"}

        metosin/reitit {:mvn/version "0.6.0"}
        metosin/jsonista {:mvn/version "0.3.7"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        javax.servlet/servlet-api {:mvn/version "2.5"} 
        com.novemberain/monger {:mvn/version "3.6.0"}
        
        integrant/integrant {:mvn/version "0.8.0"}
        com.novemberain/langohr {:mvn/version "5.4.0" :exclusions [commons-logging/commons-logging]}}

 :aliases {:fmt/check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.7"}}
                       :main-opts ["-m" "cljfmt.main" "check" "src" "test"]}

           :fmt/fix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.7"}}
                     :main-opts ["-m" "cljfmt.main" "fix" "src" "test"]}

           :test {:extra-paths ["test" "env/test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               ring/ring-mock {:mvn/version "0.4.0"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}

           :dev {:extra-paths ["env/dev" "env/dev/resources"]
                 :extra-deps {integrant/repl {:mvn/version "0.3.2"}}}

           :server {:extra-paths ["env/dev/resources"]
                    :main-opts ["-m" "example.system"]
                    :jvm-opts ["-Dconf=env/dev/resources/config.edn" "-Dlogback.configurationFile=env/dev/resources/logback.xml"]}}}
